In [2]:
import pandas as pd

In [3]:
alternatives = pd.read_csv("alternatives1.csv")
criteria = pd.read_csv("criteria1.csv")

In [4]:
alternatives

  country  power  safety  construction_cost
0     ITA     98       8                400
1     BEL     58       0                800
2     GER     66       5               1000
3     SWE     74       3                600
4     AUT     80       7                200
5     FRA     82      10                600

In [5]:
criteria

      criterion_name criterion_type  indifference  preference  veto  weight
0              power           gain             0    0.000001   NaN       3
1             safety           gain             0    2.000000   NaN       2
2  construction_cost           cost           100  300.000000   NaN       5

In [6]:
print(criteria.iloc[0])

criterion_name       power
criterion_type        gain
indifference             0
preference        0.000001
veto                   NaN
weight                   3
Name: 0, dtype: object

In [6]:
# compute preference between alternatives a and b
#TODO: verify with Milosz's examples (plan to include them as testing csvs)
def marginal_preference_index(a, b, criterion):
    p = criterion["preference"]
    q = criterion["indifference"]
    criterion_type = criterion["criterion_type"]
    criterion_name = criterion["criterion_name"]
    a_val = a[criterion_name]
    b_val = b[criterion_name]
    difference = a_val - b_val
    if criterion_type == "cost":
        difference *= -1

    if difference > p:
        return 1
    if difference <= q:
        return 0
    return (difference - q) / (p-q)

In [ ]:
def comprehensive_preference_index(a, b, criteria):

1